<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="DatabasePath" value="Data\ExcelData.db" />
    <add key="BackupPath" value="Backup" />
    <add key="DefaultExportPath" value="Export" />
    <add key="BatchSize" value="1000" />
    <add key="MaxThreads" value="4" />
  </appSettings>
</configuration>
